<div class="uploader-container">
  <mat-card appearance="outlined"
            class="drop-zone"
            (drop)="onDrop($event)"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            [class.drop-zone-hover]="hovering">

    <mat-card-content class="drop-zone-content">
      <mat-icon class="upload-icon">cloud_upload</mat-icon>
      <mat-card-title>Arrastra aquí tu archivo DICOM</mat-card-title>
      <div class="file-input-container">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Seleccionar archivo</button>
        <input #fileInput type="file" style="display: none" (change)="onFileSelected($event)" />
      </div>
      <mat-error *ngIf="fileError">{{ fileError }}</mat-error>
    </mat-card-content>
  </mat-card>
</div>